<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RouterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="Cryptany.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</sectionGroup>
   
  </configSections>
  <appSettings>
    <add key="SubscriptionManager" value="tcp://ravelin.bastion.ru:60033/Cryptany.Foundation.Clubs.ClubsService"/>
    <add key="DefaultSettingsProviderClassName" value="Cryptany.Common.Settings.DBSettingsProvider"/>
    <add key="SettingsProviderSource" value="none"/>
    <add key="DefaultSMSText" value="Thanks for purchase! Download it here: "/>
    <add key="RouterServiceId" value="BD786590-64C6-4E53-9C9E-AC176E0CD88A"/>
    <add key="ErrorReportMail" value=""/>
    <add key="SmtpServerIP" value="192.168.10.4"/>
    <add key="DatabaseName" value="Cryptany.Core"/>
    <add key="MSMQLoggerQueuePath" value=".private$\cryptany_msmqloggerqueue"/>
    <add key="UseNewDelivery" value="true"/>
    <add key="InputSMSQueuePath" value=".\private$\cryptany_routerinputqueue"/>
    <add key="TransportManagerURL" value="tcp://192.168.10.51:7777/transportmanager.rem"/>
  </appSettings>
  <connectionStrings>
    <add name="defaultConnectionString" connectionString="Data Source=sizif;Initial Catalog=Cryptany.Core;Persist Security Info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<applicationSettings>
		<Cryptany.Core.Properties.Settings>
			<setting name="CryptanyCore_MtClubSubsbriptions_wsSubscriptions" serializeAs="String">
				<value>http://devsvr2/dev/foundation3/subscriptions/wssubscriptions.asmx</value>
			</setting>
		</Cryptany.Core.Properties.Settings>
	</applicationSettings>
	<system.runtime.remoting>
    <application>
      <client displayName="ConsoleClient">
        <wellknown type="Cryptany.Foundation.Subscription.SubscriptionManager, SubscriptionManager" url="tcp://stronghold:60006/Cryptany.Foundation.Subscription.Service"/>
      </client>
      <channels>
        <channel ref="tcp"/>
      </channels>
    </application>
  </system.runtime.remoting>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
