<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CyberPlat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Monitoring_Connection" connectionString="Persist Security Info=True;User ID=MonitoringUser;Password=sdeRW9D34!;Initial Catalog=Monitoring;Data Source=arsenal.bastion.ru;Connect Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Monitoring_EventLogType" value="2"/>
    <!--  Полный путь к файлу лога событий мониторинга.-->
    <add key="Monitoring_LogFilePath" value="c:\temp\Monitoring.xml"/>
    <!--  Полный путь к очереди событий мониторинга.-->
    <add key="Monitoring_MSMQLoggerQueuePath" value="formatname:direct=os:dev\private$\avant_monitoring" />
    <!--  Командная строка T-SQL используемая для добавления события в БД. -->
    <add key="Monitoring_CommandText" value="monitoring.AddEventToLog2"/>
    <!--  Признак, нужноли выдавать ошибки записи событий во вне.-->
    <add key="Monitoring_IsThrowException" value="false"/>
    <!--  Название Проекта. Используется для логирования событий мониторинга.-->
    <add key="Monitoring_SourceProject" value="CyberPlatClient"/>
    <!--  Название Экземпляра Проекта. Используется для логирования событий мониторинга. -->
    <add key="Monitoring_SourceInstance" value="_1"/>
  </appSettings>
  <applicationSettings>
    <CyberPlat.Properties.Settings>
      <setting name="SecretKey" serializeAs="String">
        <value>libipriv\secret.key</value>
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value>libipriv\pubkeys.key</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>1111111111</value>
      </setting>
      <setting name="SerialNumber" serializeAs="String">
        <value>64182</value>
      </setting>
      <setting name="PayService" serializeAs="String">
        <value>http://ru-demo.cyberplat.com/cgi-bin/pp/pay.cgi</value>
      </setting>
      <setting name="StatusService" serializeAs="String">
        <value>http://ru-demo.cyberplat.com/cgi-bin/pp/status.cgi</value>
      </setting>
    </CyberPlat.Properties.Settings>
  </applicationSettings>
</configuration>