<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cryptany.Core.DPO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cryptany.Core.DPO.Properties.Settings>
            <setting name="CompositeChannel_Attributes_Table" serializeAs="String">
                <value>Channels,ServiceID,ConditionOperation.Equals,11561D42-3C46-4FDA-B415-8CC8FC8C8DEC</value>
            </setting>
            <setting name="QuizChannel_Attribures_Table" serializeAs="String">
                <value>Channels,ServiceID,ConditionOperation.Equals,253B0FD6-B864-4CCC-BC96-29F129393971</value>
            </setting>
        </Cryptany.Core.DPO.Properties.Settings>
    </applicationSettings>
</configuration>