<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="merchantReportRequest" value="https://mobicom.oceanbank.ru/standby/mc/merchants?df={0}&amp;dt={1}&amp;a={2}&amp;s={3}" />
    <add key="IsTesting" value="true" />
  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://mobicom/MobicomEmulationWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMobicomEmulation" contract="ServiceEmulation.IMobicomEmulation"
        name="BasicHttpBinding_IMobicomEmulation" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IMobicomEmulation" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="UniplatServiceWCF.UniplatService" behaviorConfiguration="Behavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="UniplatServiceWCF.IUniplatService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <!--<client>
      <endpoint address="https://195.146.80.132/processing/" binding="mexHttpsBinding" contract="mobicomType" name="BasicHttpBinding_MobicomService" />
    </client>-->

    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior">
          <!--<serviceMetadata httpsGetEnabled="true" />-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

   
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="60000" />
    </diagnostics>
    
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\Uniplat\messages.svclog.xml" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="c:\logs\Uniplat\TextWriterOutput.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  
<connectionStrings>
  <add name="UPSEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=monitor;initial catalog=UPS;integrated security=False;User ID=uniplat;Password=msn8vVMO;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>