<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="TransportEntities" connectionString="metadata=res://*/TransportSchema.csdl|res://*/TransportSchema.ssdl|res://*/TransportSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev;Initial Catalog=;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="TransportEntities" connectionString="metadata=res://*/TransportModel.csdl|res://*/TransportModel.ssdl|res://*/TransportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev;Initial Catalog=;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestModelContainer" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev;Initial Catalog=;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>