<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cryptany.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="defaultConnectionString" connectionString="Data Source=devsvr;Initial Catalog=.;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <Cryptany.Core.Properties.Settings>
      <setting name="CryptanyCore_AggregatorWebService_Aggregator" serializeAs="String">
        <value>http://localhost:3326/Aggregation/Aggregator.asmx</value>
      </setting>
      <setting name="CryptanyCore_AggregationClientWS_MessageReceiver" serializeAs="String">
        <value>http://localhost:1933/AggregationClient/MessageReceiver.asmx</value>
      </setting>
      <setting name="CryptanyCore_AggregationClient_MessageReceiver" serializeAs="String">
        <value>http://localhost:3483/AggregationClient/MessageReceiver.asmx</value>
      </setting>
      <setting name="MSG_WrongDataItemFormat" serializeAs="String">
        <value>Неверный формат данных. Не удаётся преобразовать данные к требуемому типу.</value>
      </setting>
      <setting name="MSG_WrongNumberOfRulesDataItems" serializeAs="String">
        <value>Неверное количество элементов RuleData для данного типа правила.</value>
      </setting>
      <setting name="CryptanyCore_ru_mobster_dev_subscriptions" serializeAs="String">
        <value>http://dev.mobster.ru/dev/footballws/subscriptions.asmx</value>
      </setting>
      <setting name="LinkToContentMessage" serializeAs="String">
        <value>Spasibo za pokupku! Skachaite vash zakaz zdes': </value>
      </setting>
      <setting name="CryptanyCore_MtClubSubsbriptions_wsSubscriptions" serializeAs="String">
        <value>http://devsvr2/dev/foundation3/subscriptions/wssubscriptions.asmx</value>
      </setting>
      <setting name="CryptanyCore_MtClubSubsbriptions_wsSubscriptions_temp" serializeAs="String">
        <value>http://devsvr2/dev/foundation3/subscriptions/wssubscriptions.asmx</value>
      </setting>
      <setting name="CryptanyCore_ru_mobster_dl2_Service" serializeAs="String">
        <value>http://dl2.mobster.ru/ContentLinkWS/Service.asmx</value>
      </setting>
    </Cryptany.Core.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DefaultSettingsProviderClassName" value="Cryptany.Common.Settings.DBSettingsProvider"/>
    <add key="SettingsProviderSource" value="none"/>
    <add key="TransportErrorMessage" value="Transport service error!"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
