<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cryptany.Core.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cryptany.Core.Services.Properties.Settings>
            <setting name="CryptanyCore_AggregatorWebService_Aggregator" serializeAs="String">
                <value>http://localhost:3326/Aggregation/Aggregator.asmx</value>
            </setting>
            <setting name="CryptanyCore_AggregationClientWS_MessageReceiver" serializeAs="String">
                <value>http://localhost:1933/AggregationClient/MessageReceiver.asmx</value>
            </setting>
            <setting name="CryptanyCore_AggregationClient_MessageReceiver" serializeAs="String">
                <value>http://localhost:3483/AggregationClient/MessageReceiver.asmx</value>
            </setting>
            <setting name="MSG_WrongDataItemFormat" serializeAs="String">
                <value>Неверный формат данных. Не удаётся преобразовать данные к требуемому типу.</value>
            </setting>
            <setting name="MSG_WrongNumberOfRulesDataItems" serializeAs="String">
                <value>Неверное количество элементов RuleData для данного типа правила.</value>
            </setting>
            <setting name="CryptanyCore_ru_mobster_dev_subscriptions" serializeAs="String">
                <value>http://dev.mobster.ru/dev/footballws/subscriptions.asmx</value>
            </setting>
            <setting name="LinkToContentMessage" serializeAs="String">
                <value>Spasibo za pokupku! Skachaite vash zakaz zdes': </value>
            </setting>
            <setting name="CryptanyCore_MtClubSubsbriptions_wsSubscriptions" serializeAs="String">
                <value>http://devsvr2/dev/foundation3/subscriptions/wssubscriptions.asmx</value>
            </setting>
            <setting name="CryptanyCore_MtClubSubsbriptions_wsSubscriptions_temp" serializeAs="String">
                <value>http://devsvr2/dev/foundation3/subscriptions/wssubscriptions.asmx</value>
            </setting>
            <setting name="CryptanyCore_ru_mobster_dl2_Service" serializeAs="String">
                <value>http://dl2.mobster.ru/ContentLinkWS/Service.asmx</value>
            </setting>
        </Cryptany.Core.Services.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="StatisticsQueuePath" value="formatname:direct=os:redut\private$\wapstatistics"/>
    <add key="TransportManagerURL" value="tcp://81.176.78.50:7777/transportmanager.rem"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
