@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Контакты<br/></h2>
<br/>
<div class="infoBlock">
    Телефон: +7 (495) 927-0224 <br/>
    Факс: +7 (495) 927-0226<br/>
    Email: info@uniplatservice.ru<br/>
</div>