@using Recaptcha
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>О Компании Uniplatservice<br/></h2>
<br/>
    <div class="infoBlock">
        Компания Uniplatservice была основана в 2012г. акционерами компании Авант Мобайл, занимающей на сегодняшний день 
        лидирующие позиции на рынке производства и распространения мобильного контента.
    </div>

    <div class="infoBlock">
        Uniplatservice использует десятилетний опыт компании Авант Мобайл по внедрению платформенных решений, для создания 
        сервисов, позволяющих оплачивать товары и услуги используя мобильный телефон, вместо наличных денег или банковских карточек.<br/>
    </div>

    <div class="infoBlock">
        На сегодняшний день Uniplatservice предлагает возможность оплатить услуги, используя только лишь свой мобильный телефон 
        в качестве кошелька, в трех основных сегментах:
        <ul class="sequence">
            <li>Перевод средств с мобильного телефона на мобильный телефон;</li>
            <li>Оплата за услуги в сети интернет, с помощью мобильного телефона;</li>
            <li>Оплата за услуги такси;</li>
        </ul>
    </div>

    <div class="infoBlock">
        Воспользоваться услугами Uniplatservice могут абоненты всех крупнейших сотовых операторов России – Мобильные ТелеСистемы,
        МегаФон, ВымпелКом, TELE2.
    </div>
  