@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новости<br/></h2>
<br/>
<div class="infoBlock">
    Дорогие друзья! Поздравляем с наступающим Новым годом! Желаем новых открытий, ярких эмоций, блестящих идей, позитивных впечатлений и отличных развлечений! Удачного нового года с компанией «Uniplatservice»!
</div>