@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Партнерам<br/></h2>
<br/>
<div class="infoBlock">
   В этом разделе вы найдете список партнеров нашей компании и юридическую информацию. Мы будем рады видеть вас в числе наших партнеров!
</div>
<div class="infoBlock">
    <b>Среди партнеров компании «Uniplatservice»:</b>
</div>