@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Проекты<br/></h2>
<br/>
<div class="infoBlock">
    Uniplatservice предоставляет широкий спектр услуг в сфере мобильных платежей и мобильной коммерции. Среди наших постоянных партнеров – крупнейшие операторы сотовой связи, банки и поставщики различных видов услуг для населения.
</div>






