@{
    ViewBag.Title = "Vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вакансии<br/></h2>
<br/>
    <div class="infoBlock">
        Всех желающих присоединиться к дружной команде “Uniplatservice” просим высылать свои резюме с указанием вакансии на электронный адрес info@uniplatservice.ru.
    </div>

   