<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Cryptany.Core.Monitoring.MailServer" value="192.168.10.4"/>
    <add key="Cryptany.Core.Monitoring.MailFrom" value="Cryptany_alarm@Cryptany.com"/>
    <add key="Cryptany.Core.Monitoring.MailTo" value="error-report@cryptany.com"/>
    <add key="Cryptany.Core.Monitoring.MonitoringInterval" value="15"/>
    <add key="Cryptany.Core.Monitoring.ConnectorServer" value="centurion01"/>
    <add key="Cryptany.Core.Monitoring.RouterServer" value="legatus"/>
    <add key="Cryptany.Core.Monitoring.RouterQueueTimeout" value="1"/>
    <add key="Cryptany.Core.Monitoring.RouterProcessingTimeout" value="1"/>
    <add key="Cryptany.Core.Monitoring.RouterSendToConnectorTimeout" value="1"/>
    <add key="Cryptany.Core.Monitoring.ConnectorQueueTimeout" value="1"/>
  </appSettings>
  <connectionStrings>
  
    <!--<add name="defaultConnectionString"
            connectionString="Data Source=efficiency;Initial Catalog=Cryptany2;Integrated Security=SSPI;MultipleActiveResultSets=True" />
    <add name="instances"
             connectionString="44,45,46,47,48" />
    <add name="collectinterval"
             connectionString="" />-->
  </connectionStrings>
</configuration>