<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConnectorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="defaultConnectionString" connectionString="Data Source=ARSENAL.BASTION.RU;Initial Catalog=.;Persist Security Info=True;User ID=smsprocessor;Password=qazwsx;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/> 
    <!--<add name="defaultConnectionString"
        connectionString="Data Source=devsvr;Initial Catalog=;user id=smsprocessor;password=123;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DefaultSettingsProviderClassName" value="Cryptany.Common.Settings.DBSettingsProvider"/>
    <add key="SettingsProviderSource" value="none"/>
    <add key="restart_script" value="restart.vbs"/>
    <add key="SNSpcForFakeConnector" value="1300,1310"/>
    <add key="SNSpcForFakeConnectorSMSCCodeExclude" value="33"/>
    <add key="Repeat_Send_Timeout" value="100"/>
    <add key="Cryptany_ConnectorCodes" value="11,18,52,53,101,102"/>
  </appSettings>
  <applicationSettings>
    <ConnectorService.Properties.Settings>
      <setting name="ConnectorServices_ru_infotainment_mail_Service" serializeAs="String">
        <value>http://mail.infotainment.ru/oldservicesmsfeed/service.asmx</value>
      </setting>
    </ConnectorService.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
